{% extends "shared/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    <div class="contain-info">


          <!--Card-->
          <div class="card card-pass-chnage">
              <a href="{% url 'profile-page' %}" class="cart-back-btn" type="button"><span class="flash-btn">< </span>Back To Dashboard</a>

            <!--Card content-->


              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="form-chnage-pass">
                  <!--firstName-->
                     {% csrf_token %}

                        <div class="input-password-chnage">
                            {{ form.oldpassword.label_tag }}
                            {{ form.oldpassword }}
                            <span class="text-danger">{{ form.oldpassword.errors }}</span>
                        </div>

                        <div class="input-password-chnage">
                            {{ form.password1.label_tag }}
                            {{ form.password1 }}
                            <span class="text-danger">{{ form.password1.errors }}</span>
                        </div>

                        <div class="input-password-chnage">
                            {{ form.password2.label_tag }}
                            {{ form.password2 }}
                            <span class="text-danger">{{ form.password2.errors }}</span>
                        </div>

                     <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Username-->
{#              <div class="md-form input-group pl-0 mb-5">#}
{#                <div class="input-group-prepend">#}
{#                  <span class="input-group-text" id="basic-addon1">@</span>#}
{#                </div>#}
{#                <input type="text" class="form-control py-0 disabled" placeholder="Username" aria-describedby="basic-addon1">#}
{#                  {{ form2.username }}#}
{#                  {{ form2.username.errors }}#}
{#              </div>#}

              <!--email-->
{#              <div class="md-form mb-5">#}
{#                <input type="text" id="email" class="form-control disabled" placeholder="youremail@example.com">#}
{#                {{ form2.email }}#}
{#                {{ form2.email.errors }}#}
{#                <label for="email" class="active">Email</label>#}
{#              </div>#}

              <!--address-->

              <!--address-2-->

              <!--Grid row-->

              <!--Grid row-->





          </div>

          <!--/.Card-->

    </div>
    <button type="submit" name="action" class="chnage-password-btn">{% trans "Change Password" %}</button>
    </form>
    <br>
    {% include 'dashboard_module/includes/sidebar_dashboard.html' %}
{% endblock %}
