




<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slider in sliders %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.parentloop }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>



  <div class="carousel-inner" id="slider-st">

      {% for slider in sliders %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img class="d-block w-100" src="{{ slider.image.url }}" alt="First slide">
        </div>
      {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>