{#<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>#}
{#  <!-- Bootstrap tooltips -->#}
{#  <script type="text/javascript" src="/static/js/popper.min.js"></script>#}
{#  <!-- Bootstrap core JavaScript -->#}
{#  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>#}
{#  <!-- MDB core JavaScript -->#}
{#  <script type="text/javascript" src="/static/js/mdb.min.js"></script>#}
{#  <!-- Initializations -->#}
{#  <script type="text/javascript">#}
{#    // Animations initialization#}
{#    new WOW().init();#}
{##}
{#  </script>#}
{##}
{#<script type="text/javascript" src="/static/js/custom.js">#}
{#</script>#}



{##----------------------------------------------------------#}

<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/static/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
// Animations initialization
new WOW().init();

</script>
<script src="/static/js/jsmegamenu/jquery-2.1.1.js"></script>
<script src="/static/js/jsmegamenu/jquery.menu-aim.js"></script>
<script src="/static/js/jsmegamenu/main.js"></script>
<script src="/static/js/custom.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/633bd02a37898912e96cbe88/1gegqaaes';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
